<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet-mapping>
        <servlet-name>BrandDetail</servlet-name>
        <url-pattern>/BrandDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBrandList</servlet-name>
        <url-pattern>/ViewBrandList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>AddNewUser</servlet-name>
        <servlet-class>com.swp.whmsystem.controller.admin.AddNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserInformation</servlet-name>
        <servlet-class>com.swp.whmsystem.controller.admin.UpdateUserInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>com.swp.whmsystem.controller.authentication.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>com.swp.whmsystem.controller.home.ViewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPermissionList</servlet-name>
        <servlet-class>com.swp.whmsystem.controller.admin.ViewPermissionList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PermissionDetail</servlet-name>
        <servlet-class>com.swp.whmsystem.controller.admin.PermissionDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewPermission</servlet-name>
        <servlet-class>com.swp.whmsystem.controller.admin.AddNewPermission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPermission</servlet-name>
        <servlet-class>com.swp.whmsystem.controller.admin.EditPermission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRole</servlet-name>
        <servlet-class>com.swp.whmsystem.controller.admin.UpdateRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewRole</servlet-name>
        <servlet-class>com.swp.whmsystem.controller.admin.AddNewRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandDetail</servlet-name>
        <servlet-class>com.swp.whmsystem.controller.brand.BrandDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBrandList</servlet-name>
        <servlet-class>com.swp.whmsystem.controller.brand.ViewBrandList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewUser</servlet-name>
        <url-pattern>/AddNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserInformation</servlet-name>
        <url-pattern>/UpdateUserInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile</servlet-name>
        <url-pattern>/viewprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPermissionList</servlet-name>
        <url-pattern>/ViewPermissionList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PermissionDetail</servlet-name>
        <url-pattern>/PermissionDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewPermission</servlet-name>
        <url-pattern>/AddNewPermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPermission</servlet-name>
        <url-pattern>/EditPermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRole</servlet-name>
        <url-pattern>/UpdateRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewRole</servlet-name>
        <url-pattern>/AddNewRole</url-pattern>
    </servlet-mapping>

</web-app>
